main,
header,
section,
nav,
footer {
  display: block;
}

main {
  margin: auto;
  width: 80%;
  border: 1px solid red;
}

section {
  margin: 10px;
  width: 70%;
  float: right;
  border: 1px solid red;
}

nav {
  border: 1px solid red;
}

footer {
  clear: both;
  border: 1px solid red;
}
