/* so that old browsers can understand the new elements */
main,
header,
section,
nav,
footer {
  display: block;
}

/* to center page */
main {
  margin: auto;
  width: 960px;
}

header {
  text-align: center;
  border: 1px solid red;
}

footer {
  text-align: center;
  clear: both;
  border: 1px solid red;
}
section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 750px;
  float: right;
  border: 1px solid red;
}

nav {
  margin-top: 10px;
  padding: 10px;
  width: 156px;
  float: left;
  border: 1px solid red;
}

ul {
  list-style-type: none;
  padding: 10px;
  line-height: 1.5em;
}

img {
  padding: 20px;
  width: 30%;
  float: right;
}

/* unvisited link */
a:link {
  color: #df1616;
}

/* visited link */
a:visited {
  color: #344f34;
}

/* mouse over link */
a:hover {
  color: #dc1edc;
}

/* selected link */
a:active {
  color: #0000ff;
}
